/* PENAMBAHAN MARGIN SECARA VERTIKAL */
/* OVERLAPPING */
.satu {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 150px;
    margin-right: 50px;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    /* Penambahan nilai margin secara vertical tidak akan berpengaruh karena terjadi overlapping margin */
    margin-top: 50px;
}

.tiga {
    width: 50px;
    height: 50px;
    background-color: violet;
    /* Penggunaan margin auto harus dilakukan untuk kedua sisi kanan dan kiri. Digunakan untuk membuat konten berada di tengah parent nya */
    margin-left: auto;
    margin-right: auto;
}

/* PENAMBAHAN MARGIN SECARA HORIZONTAL */
.empat {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    display: inline-block;
    margin-right: 30px;
}

.lima {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: inline-block;
    /* Penambaan nilai pada margin secara horizontal tetap terjadi, dalam hal ini "margin-right" pada class .empat senilai "30px", ditambahkan dengan "margin-right" pada class .lima senilai "20px". Maka, total margin yang terjadi adalah "50px" diantara kedua class tersebut */
    margin-left: 20px;
}

.enam {
    width: 50px;
    height: 50px;
    background-color: violet;
    display: inline-block;
}

/* NEGATIF MARGIN */
.tujuh {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 30px;
}

.delapan {
    width: 50px;
    height: 50px;
    background-color: violet;
    /* Negatif margin membuat margin bergerak berlawanan arah, sehingga overlapping margin tidak akan terjadi. Bahkan negatif margin dapat digunakan untuk menyembunyikan konten */
    margin-top: -50px;
}