/* Basic Style */
* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  margin: 10px 50px;
}

/* Container */
.container {
  display: grid;
}

/* Header Start */
.header {
  margin-top: 5px;
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2"
    "hero hero feature-3";
}

.hero {
  grid-area: hero;
  min-height: 350px;
  background-image: url(img/fromis9.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
}

/* cara bacanya yaitu, cari class hero lalu cari apapun yang ada di dalamnya */
.hero > * {
  display: none;
}

.features {
  background-color: #000;
  color: white;
  display: grid;
  /* justify-content: center;
    align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/dream.jpg);
  background-position: center;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/wish.jpg);
  background-position: center;
}

.feature-3 {
  grid-area: feature-3;
  background-image: url(img/memory.jpg);
  background-position: center;
}

.features .price {
  font-size: 2em;
  font-weight: 500;
}
/* Header End */

/* Navbar Start */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* disini kita men-set agar kolom nya selalu 2 dengan ukuran 1fr dan 2fr */
  align-items: center;
}

.menu .brand {
  font-size: 1.2em;
  color: #333;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* value dari grid-template-columns menggunakan template repeat(auto-fit, minmax()) merupakan rumus agar website kita tampil responsive */
  gap: 10px;
}

.menu a {
  display: block;
  /* pemberian property display dengan value box berfungsi agar kita dapat meng-klik tidak hanya tulisannya saja, tapi satu block bisa di-klik */
  text-decoration: none;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  /* ketika berada dalam mode selain mobile, maka hamburger menu tidak akan terlihat */
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

/* cara bacanya yaitu, ketika "input" di check, maka cari saudara dari "input" yang merupakan element "span" anak nomor dua */
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #fff;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:last-child {
  background-color: #fff;
  transform: rotate(-45deg) translate(-1px, 0);
}
/* Navbar End */

/* Services */
.services {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.service {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon {
  font-size: 1.5em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200;
  font-size: 0.9em;
}
/* Services End */

/* Gallery */
.gallery {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gallery h2 {
  /* grid-column-start: 1;
  grid-column-end: -1; */
  grid-column: 1 / -1;
  /* code diatas merupakan shorthand dari 2 code sebelumnya */
  text-align: center;
  margin: 10px 0;
}

/* Responsive Breakpoint */
@media (max-width: 1024px) {
  .feature-1 {
    background-size: cover;
  }

  .feature-2 {
    background-size: cover;
  }

  .feature-3 {
    background-size: cover;
  }

  .menu {
    order: inherit;
    grid-template-columns: 1fr;
    margin-top: 10px;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    background-color: black;
    color: white;
    margin-top: 5px;
    padding: 5px;
  }

  .hero {
    display: flex;
    /* penggunaan flex agar item yang ada didalam nya lebih flexsible jika dibandinkan dengan grid (property flex relatif terhadap parent-nya) */
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .feature-1 {
    background-size: cover;
  }

  .feature-2 {
    background-size: cover;
  }

  .feature-3 {
    background-size: cover;
  }
  .menu {
    order: -1;
    justify-items: end;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle span {
    display: flex;
  }

  .menu ul {
    display: flex;
    /* pemberian property "absolute" bertujuan agar element nya tetap berada di tempat yang sama seperti di tampilan desktop */
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 0;
    width: 100%;
    /* 100vh adalah 100% "viewport height", atau tinggi dari layar yang kita lihat */
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    /* cara mengakali agar navbar nya tampak menghilang, sebenarnya ada di samping web. coba beri comment bagian "body", dengan property "overflow" nya */
    transform: translateY(-100%);
    /* pemberian nilai minus pada property translateY berguna untuk mengubah awalan translate yaitu dari atas */
    transition: all 1s;
    /* "opacity" disini berguna untuk transition ketika navbar nya sudah diberi class "slide" di "javascript" */
    opacity: 0;
  }

  .menu ul.slide {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  body {
    margin: 15px;
  }
  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2"
      "feature-3";
  }

  .feature-1 {
    background-position: center;
  }

  .feature-2 {
    background-position: center;
  }

  .feature-3 {
    background-position: center;
  }
}
